body {
  --green: #0eb048;
  --white: #f1f1f1;
  --lightWhite: #d1d1d1;
  --black: #161616;
  font-family: "Raleway", sans-serif;
  background-color: var(--black);
}

.App {
  padding: 20px 20px;
  height: 100vh;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .App {
    padding-top: 10px;
  }
}

@media screen and (max-height: 700px) {
  .App {
    padding-bottom: 50px;
  }
}
