body {
    --green: #0EB048;
    --white: #F1F1F1;
    --lightWhite: #d1d1d1;
    --black: #161616;
    font-family: 'Raleway', sans-serif;
    background-color: var(--black);
}

.App {
    padding: 10px 20px;
}

a {
    text-decoration: none;
  }
  