.dashboard {
    display: flex;
    flex-direction: column;
    height: 97vh;
}

.dashboard-form {
    display: flex;
}

.dashboard-input {
    width: 300px;
    font-size: 24px;
    padding: 10px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    outline: none;
}

.dashboard-songlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    overflow-y: auto;
    color: var(--lightWhite);
}

.dashboard-browsing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
}

.dashboard-section {
    display: flex;
    height: 90%;
}


.lyrics {
    white-space: pre;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.player-container {
    height: 200px;
}

@media screen and (max-width: 1024px) {
    .dashboard-section {height: 84%;}
}
